[submodule "nanorc"]
        path = nanorc
        url = https://github.com/scopatz/nanorc.git

[submodule "tpm"]
        path = .tmux/plugins/tpm
        url = https://github.com/tmux-plugins/tpm

[submodule "tmux-logging"]
        path = .tmux/plugins/tmux-logging
        url = https://github.com/tmux-plugins/tmux-logging

[submodule "tmux-prefix-highlight"]
        path = .tmux/plugins/tmux-prefix-highlight
        url = https://github.com/tmux-plugins/tmux-prefix-highlight

[submodule "tmux-resurrect"]
        path = .tmux/plugins/tmux-resurrect
        url = https://github.com/tmux-plugins/tmux-resurrect

[submodule "tmux-sensible"]
        path = .tmux/plugins/tmux-sensible
        url = https://github.com/tmux-plugins/tmux-sensible
